<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head'); %>
   <title>Página de Cursos</title>

   <style>
    .nav-link {
      color: white;
    }

    .section-content {
      margin: 0 145px;
      padding: 20px;
    }

    .curso {
      text-decoration: none;
      color: black;
    }
   </style>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <section class="section-content">

        <h3>
          <a class="curso" data-bs-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
            Administração
          </a>
        </h3>
        <div class="collapse" id="collapseAdmin">
          <div class="card card-body">
            <p>
              1° período<br>
              - Empreendedorismo e Inovação: Prof. Marcelo Costa<br>
              - Fundamentos de Administração: Profa. Ana Beatriz Almeida<br>
              - Introdução à Contabilidade: Prof. Carlos Borges<br>
              - Introdução à Economia: Profa. Laura Martins<br>
              - Práticas de Empreendedorismo: Prof. Ana Carolina Mendes<br><br>
    
              2° período<br>
              - Estatística: Prof. João Pereira<br>
              - Filosofia: Razão e Modernidade: Profa. Fernanda Oliveira<br>
              - Fundamentos de Finanças: Prof. Pedro Henrique Souza<br>
              - Fundamentos de Marketing: Profa. Gabriela Reis<br>
              - Práticas de Estudos de Mercado: Prof. Luiz Eduardo Almeida<br>
              - Sociologia das Organizações: Profa. Carla Mendes<br><br>
    
              3° período<br>
              - Direito Empresarial e Compliance: Prof. André Carvalho<br>
              - Fundamentos de Gestão de Pessoas: Profa. Júlia Martins<br>
              - Gestão de Processos: Prof. Ricardo Campos<br>
              - Metodologia e Pesquisa em Ciências Gerenciais: Profa. Beatriz Costa<br>
              - Modelagem de Negócios: Prof. Daniel Oliveira<br>
              - Optativa I: Profa. Mariana Andrade<br>
              - Práticas de Design de Negócios: Prof. Eduardo Silva<br><br>
    
              4° período<br>
              - Análise de Custos: Prof. Felipe Andrade<br>
              - Gestão da Comunicação e Marketing Digital: Profa. Luana Almeida<br>
              - Gestão Logística: Prof. Bruno Santos<br>
              - Planejamento e Gestão Estratégica: Profa. Camila Rocha<br>
              - Sustentabilidade Organizacional: Prof. Jorge Lima<br>
              - Teorias da Administração: Profa. Roberta Martins<br><br>
    
              5° período<br>
              - Administração Financeira: Prof. Gustavo Pereira<br>
              - Marketing de Serviços, Produtos e Preços: Profa. Renata Costa<br>
              - Negociação e Tomada de Decisão: Prof. Marcos Silva<br>
              - Simulação Empresarial: Profa. Tatiane Oliveira<br>
              - Sistemas e Tecnologias Contábeis e Gerenciais: Prof. Felipe Souza<br><br>
    
              6° período<br>
              - Cultura Religiosa: Fenômeno Religioso: Profa. Ana Paula Mendes<br>
              - Estágio Supervisionado em Administração: Prof. Roberto Carvalho<br>
              - Gestão de Operações: Prof. Alexandre Lima<br>
              - Gestão do Conhecimento e Tecnologia: Profa. Patricia Costa<br>
              - Gestão Estratégica de Pessoas: Prof. Fábio Martins<br>
              - Optativa II: Profa. Sabrina Almeida<br><br>
    
              7° período<br>
              - Cultura Religiosa: Pessoa e Sociedade: Profa. Juliana Pereira<br>
              - Gestão de Projetos: Prof. Rodrigo Santos<br>
              - Negócios Internacionais: Profa. Vanessa Lima<br>
              - Optativa III: Prof. Gabriel Silva<br>
              - Projeto de Trabalho de Conclusão de Curso em Administração: Profa. Carla Reis<br>
              - Técnicas de Decisões Financeiras: Prof. Diego Costa<br><br>
    
              8° período<br>
              - Filosofia: Antropologia e Ética: Profa. Mariana Fernandes<br>
              - Gestão de Vendas e Distribuição: Prof. Hugo Almeida<br>
              - Gestão Empresarial: Profa. Alessandra Lima<br>
              - Optativa IV: Prof. Leonardo Pereira<br>
              - Orçamento Empresarial: Profa. Cláudia Silva<br>
              - Trabalho de Conclusão de Curso em Administração: Prof. Rafael Oliveira
            </p>
          </div>
        </div>
    
        <!-- Biomedicina -->
        <h3>
          <a class="curso" data-bs-toggle="collapse" href="#collapseBiomedicina" role="button" aria-expanded="false" aria-controls="collapseBiomedicina">
            Biomedicina
          </a>
        </h3>
        <div class="collapse" id="collapseBiomedicina">
          <div class="card card-body">
            <p>
              1° período<br>
              - Biologia Celular: Prof. André Lima<br>
              - Química Geral: Profa. Fernanda Silva<br>
              - Anatomia Humana: Prof. Carlos Oliveira<br>
              - Bioquímica: Profa. Ana Beatriz Costa<br>
              - Introdução à Biomedicina: Prof. Jorge Santos<br><br>
    
              2° período<br>
              - Fisiologia: Prof. Luiz Almeida<br>
              - Genética: Profa. Mariana Reis<br>
              - Microbiologia: Prof. Ricardo Santos<br>
              - Parasitologia: Profa. Juliana Costa<br>
              - Imunologia: Prof. Gabriel Silva<br><br>
    
              3° período<br>
              - Farmacologia: Prof. Pedro Lima<br>
              - Patologia Geral: Profa. Camila Almeida<br>
              - Hematologia: Prof. Rafael Costa<br>
              - Bioestatística: Profa. Beatriz Oliveira<br>
              - Metodologia Científica: Prof. Lucas Martins<br><br>
    
              4° período<br>
              - Análise Clínica: Prof. Bruno Reis<br>
              - Biologia Molecular: Profa. Laura Pereira<br>
              - Toxicologia: Prof. Felipe Almeida<br>
              - Epidemiologia: Profa. Sabrina Lima<br>
              - Práticas Laboratoriais: Prof. Rodrigo Costa<br><br>
    
              5° período<br>
              - Diagnóstico Laboratorial: Prof. Marcos Silva<br>
              - Patologia Clínica: Profa. Carla Reis<br>
              - Biotecnologia: Prof. Jorge Lima<br>
              - Hematologia Clínica: Profa. Ana Paula Oliveira<br>
              - Estágio Supervisionado: Prof. Tiago Almeida<br>
            </p>
          </div>
        </div>
    
        <!-- Direito -->
        <h3>
          <a class="curso" data-bs-toggle="collapse" href="#collapseDireito" role="button" aria-expanded="false" aria-controls="collapseDireito">
            Direito
          </a>
        </h3>
        <div class="collapse" id="collapseDireito">
          <div class="card card-body">
            <p>
              1° período<br>
              - Introdução ao Estudo do Direito: Prof. André Santos<br>
              - História do Direito: Profa. Mariana Costa<br>
              - Teoria Geral do Estado: Prof. Pedro Lucas<br>
              - Direito Constitucional: Profa. Beatriz Almeida<br>
              - Filosofia do Direito: Prof. Jorge Oliveira<br><br>
    
              2° período<br>
              - Direito Penal: Prof. Lucas Costa<br>
              - Direito Civil I: Profa. Carla Reis<br>
              - Direito Administrativo: Prof. Ricardo Lima<br>
              - Direito Empresarial: Profa. Ana Beatriz Santos<br>
              - Ética e Deontologia: Prof. Gustavo Almeida<br><br>
    
              3° período<br>
              - Direito Civil II: Profa. Emilly Almeida<br>
              - Direito Processual Penal: Prof. Felipe Costa<br>
              - Direito do Trabalho: Profa. Sabrina Oliveira<br>
              - Direito Tributário: Prof. Marcos Reis<br>
              - Direito Internacional: Profa. Camila Lima<br><br>
    
              4° período<br>
              - Direito Processual Civil: Prof. João Santos<br>
              - Direito Ambiental: Profa. Juliana Reis<br>
              - Direito da Família: Prof. Bruno Almeida<br>
              - Práticas Jurídicas I: Profa. Ana Paula Lima<br>
              - Optativa I: Prof. Rodrigo Lima<br><br>
    
              5° período<br>
              - Direito Penal II: Prof. Pedro Costa<br>
              - Direito da Criança e do Adolescente: Profa. Beatriz Silva<br>
              - Direito Eleitoral: Prof. Tiago Almeida<br>
              - Práticas Jurídicas II: Profa. Mariana Oliveira<br>
              - Optativa II: Prof. Rafael Costa<br>
            </p>
          </div>
        </div>
    
        <!-- Enfermagem -->
        <h3>
          <a class="curso" data-bs-toggle="collapse" href="#collapseEnfermagem" role="button" aria-expanded="false" aria-controls="collapseEnfermagem">
            Enfermagem
          </a>
        </h3>
        <div class="collapse" id="collapseEnfermagem">
          <div class="card card-body">
            <p>
              1° período<br>
              - Introdução à Enfermagem: Prof. André Santos<br>
              - Anatomia e Fisiologia: Profa. Fernanda Almeida<br>
              - Bioquímica: Prof. Carlos Lima<br>
              - Enfermagem Fundamental: Profa. Ana Beatriz Costa<br>
              - Psicologia Aplicada à Saúde: Prof. Jorge Oliveira<br><br>
    
              2° período<br>
              - Saúde Coletiva: Prof. Lucas Costa<br>
              - Enfermagem em Saúde Mental: Profa. Carla Reis<br>
              - Farmacologia: Prof. Ricardo Lima<br>
              - Enfermagem em Pediatria: Profa. Mariana Santos<br>
              - Práticas de Enfermagem: Prof. Gabriel Silva<br><br>
    
              3° período<br>
              - Enfermagem em Geriatria: Prof. Pedro Costa<br>
              - Saúde da Mulher: Profa. Sabrina Oliveira<br>
              - Enfermagem em Terapia Intensiva: Prof. Tiago Almeida<br>
              - Nutrição e Dietética: Profa. Beatriz Silva<br>
              - Estágio Supervisionado I: Prof. Rafael Reis<br><br>
    
              4° período<br>
              - Enfermagem em Urgência e Emergência: Prof. João Santos<br>
              - Enfermagem Obstétrica: Profa. Ana Paula Lima<br>
              - Enfermagem Comunitária: Prof. Bruno Almeida<br>
              - Práticas de Enfermagem Avançada: Profa. Marina De Paula<br>
              - Optativa I: Prof. Rodrigo Lima<br><br>
    
              5° período<br>
              - Gestão em Enfermagem: Prof. Pedro Costa<br>
              - Enfermagem em Saúde Pública: Profa. Carla Reis<br>
              - Enfermagem Pediátrica: Prof. Felipe Almeida<br>
              - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
              - Optativa II: Prof. Tiago Almeida<br>
            </p>
          </div>
        </div>
        <h3>
          <a class="curso" data-bs-toggle="collapse" href="#collapseEngSoft" role="button" aria-expanded="false" aria-controls="collapseEngSoft">
            Engenharia de Software
          </a>
        </h3>
        <div class="collapse" id="collapseEngSoft">
          <div class="card card-body">
            <p>
              1° período<br>
              - Algoritmos e Lógica de Programação: Prof. João Silva<br>
              - Matemática para Computação: Profa. Mariana Lima<br>
              - Estruturas de Dados: Prof. André Souza<br>
              - Introdução à Engenharia de Software: Profa. Clara Reis<br>
              - Práticas de Programação: Prof. Gabriel Costa<br><br>
    
              2° período<br>
              - Bancos de Dados: Prof. Pedro Santos<br>
              - Engenharia de Requisitos: Profa. Laura Almeida<br>
              - Sistemas Operacionais: Prof. Carlos Mendes<br>
              - Desenvolvimento Web: Profa. Fernanda Oliveira<br>
              - Programação Orientada a Objetos: Prof. Bruno Silva<br><br>
    
              3° período<br>
              - Arquitetura de Software: Prof. Rafael Oliveira<br>
              - Engenharia de Software Ágil: Profa. Juliana Costa<br>
              - Testes de Software: Prof. Luiz Eduardo<br>
              - Segurança da Informação: Profa. Beatriz Martins<br>
              - Optativa I: Prof. Marcos Almeida<br><br>
    
              4° período<br>
              - Gerenciamento de Projetos de Software: Prof. Rodrigo Lima<br>
              - Design de Interfaces: Profa. Vanessa Andrade<br>
              - Programação para Dispositivos Móveis: Prof. Felipe Reis<br>
              - Engenharia de Software para Sistemas Web: Profa. Sabrina Oliveira<br>
              - Optativa II: Prof. Jorge Santos<br><br>
    
              5° período<br>
              - Inteligência Artificial: Prof. Henrique Souza<br>
              - Desenvolvimento de Sistemas Distribuídos: Profa. Carla Reis<br>
              - Empreendedorismo em Tecnologia: Prof. Tiago Lima<br>
              - Engenharia de Software para Sistemas Complexos: Profa. Daniela Almeida<br>
              - Optativa III: Prof. Bruno Costa<br><br>
    
              6° período<br>
              - Estágio Supervisionado em Engenharia de Software: Prof. Lucas Almeida<br>
              - Engenharia de Software para Jogos Digitais: Profa. Ana Paula Lima<br>
              - Engenharia de Software para Aplicações Científicas: Prof. Eduardo Reis<br>
              - Optativa IV: Prof. Rafael Costa<br>
              - Projeto Final em Engenharia de Software: Profa. Mariana Silva
            </p>
          </div>
        </div>
    
            <!-- Fisioterapia -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapseFisioterapia" role="button" aria-expanded="false" aria-controls="collapseFisioterapia">
                Fisioterapia
              </a>
            </h3>
            <div class="collapse" id="collapseFisioterapia">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Anatomia e Fisiologia: Prof. André Lima<br>
                  - Introdução à Fisioterapia: Profa. Fernanda Silva<br>
                  - Bioquímica: Prof. Carlos Oliveira<br>
                  - Desenvolvimento Motor: Profa. Ana Beatriz Costa<br>
                  - Psicologia da Saúde: Prof. Jorge Santos<br><br>
        
                  2° período<br>
                  - Fisioterapia Musculoesquelética: Prof. Luiz Almeida<br>
                  - Cinesiologia: Profa. Mariana Reis<br>
                  - Fisioterapia em Neurologia: Prof. Ricardo Santos<br>
                  - Fisioterapia Respiratória: Profa. Juliana Costa<br>
                  - Farmacologia: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Fisioterapia em Cardiologia: Prof. Pedro Lima<br>
                  - Fisioterapia Pediátrica: Profa. Camila Almeida<br>
                  - Fisioterapia Geriátrica: Prof. Rafael Costa<br>
                  - Reabilitação Funcional: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Fisioterapia em Saúde Pública: Prof. João Santos<br>
                  - Fisioterapia Esportiva: Profa. Juliana Reis<br>
                  - Terapias Complementares: Prof. Bruno Almeida<br>
                  - Práticas Clínicas: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Gestão em Fisioterapia: Prof. Pedro Costa<br>
                  - Fisioterapia em Terapia Intensiva: Profa. Carla Reis<br>
                  - Fisioterapia Neuropediátrica: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
        
    <!-- Medicina -->
    <h3>
      <a class="curso" data-bs-toggle="collapse" href="#collapseMedicina" role="button" aria-expanded="false" aria-controls="collapseMedicina">
        Medicina
      </a>
    </h3>
    <div class="collapse" id="collapseMedicina">
      <div class="card card-body">
        <p>
          1° período<br>
          - Genética Médica<br>
          - Introdução ao Raciocínio Clínico e Epidemiológico I: Gestação e Nascimento<br>
          - Medicina e Sociedade<br>
          - Medicina Preventiva e Social I<br>
          - Morfologia I<br>
          - Práticas na Comunidade I: Gestação e Nascimento - Campo<br>
          - Práticas na Comunidade I: Gestação e Nascimento - Treinamento de Habilidades<br>
          - Qualidade de Vida, Gestão Pessoal e da Carreira Médica<br><br>
    
          2° período<br>
          - Anatomia Médica I<br>
          - Biologia Celular I<br>
          - Filosofia: Razão e Modernidade<br>
          - Imunologia e Imunopatologia Médica<br>
          - Introdução ao Raciocínio Clínico e Epidemiológico II: Infância e Adolescência<br>
          - Medicina Preventiva e Social II<br>
          - Morfologia II<br>
          - Práticas na Comunidade II: Infância e Adolescência - Campo<br>
          - Práticas na Comunidade II: Infância e Adolescência - Treinamento de Habilidades<br><br>
    
          3° período<br>
          - Anatomia Médica II<br>
          - Biologia Celular II<br>
          - Filosofia: Antropologia e Ética<br>
          - Fisiologia Médica I<br>
          - Introdução à Pesquisa Médica<br>
          - Introdução ao Raciocínio Clínico e Epidemiológico III: Adultos<br>
          - Medicina Preventiva e Social III<br>
          - Práticas na Comunidade III: Adultos - Campo<br>
          - Práticas na Comunidade III: Adultos - Treinamento de Habilidades<br><br>
    
          4° período<br>
          - Anatomia Médica III<br>
          - Fisiologia Médica II<br>
          - Introdução a Semiologia Médica<br>
          - Introdução ao Raciocínio Clínico e Epidemiológico IV: Idosos<br>
          - Medicina Preventiva e Social IV<br>
          - Microbiologia Médica e Doenças Infecciosas<br>
          - Parasitologia Médica e Doenças Parasitárias<br>
          - Práticas na Comunidade IV: Idosos - Campo<br>
          - Práticas na Comunidade IV: Idosos - Treinamento<br><br>
    
          5° período<br>
          - Integração Ensino - Pesquisa - Serviço - Comunidade I<br>
          - Introdução à Saúde Mental<br>
          - Patologia Médica I<br>
          - Pesquisa Médica<br>
          - Semiologia Médica Geral - Campo<br>
          - Semiologia Médica Geral - Treinamento de Habilidades<br>
          - Técnica Cirúrgica<br>
          - Terapêutica Médica I<br><br>
    
          6° período<br>
          - Bioética e Medicina Legal<br>
          - Integração Ensino - Pesquisa - Serviço - Comunidade II<br>
          - Patologia Médica II<br>
          - Semiologia Médica: Cardiologia<br>
          - Semiologia Médica: Neurologia<br>
          - Semiologia Médica: Ortopedia<br>
          - Semiologia Médica: Otorrino<br>
          - Semiologia Médica: Pneumologia<br><br>
    
          7° período<br>
          - Cultura Religiosa: Fenômeno Religioso<br>
          - Integração Ensino - Pesquisa - Serviço - Comunidade III<br>
          - Semiologia Médica: Dermatologia<br>
          - Semiologia Médica: Endocrinologia<br>
          - Semiologia Médica: Nefrologia<br>
          - Semiologia Médica: Oftalmologia<br>
          - Semiologia Médica: Psiquiatria<br>
          - Sociologia, Saúde e Meio Ambiente<br>
          - Terapêutica Médica II<br>
          - Urgências e Emergências Médicas<br><br>
    
          8° período<br>
          - Cirurgia Ambulatorial e Clínica Cirúrgica<br>
          - Cultura Religiosa: Pessoa e Sociedade<br>
          - Integração Ensino - Pesquisa - Serviço - Comunidade IV<br>
          - Medicina da Família e Comunidade<br>
          - Saúde do Trabalhador<br>
          - Saúde Mental<br><br>
    
          9° período<br>
          - Internato Obrigatório I: Urgências e Emergências - Estágio de Campo<br>
          - Internato Obrigatório I: Urgências e Emergências - Orientação<br>
          - Internato Obrigatório II: Saúde Mental<br>
          - Práticas de Integralidade em Saúde I CM<br><br>
    
          10° período<br>
          - Internato Obrigatório III: Medicina Geral de Família e Comunidade - Estágio de Campo<br>
          - Internato Obrigatório III: Medicina Geral de Família e Comunidade - Orientação<br>
          - Internato Obrigatório IV: Saúde Coletiva<br>
          - Práticas de Integralidade em Saúde II PED<br><br>
    
          11° período<br>
          - Internato Obrigatório V: Clínica Médica - Estágio de Campo<br>
          - Internato Obrigatório V: Clínica Médica - Orientação<br>
          - Internato Obrigatório VI: Pediatria - Estágio de Campo<br>
          - Internato Obrigatório VI: Pediatria - Orientação<br>
          - Práticas de Integralidade em Saúde III Obstetrícia<br><br>
    
          12° período<br>
          - Internato Obrigatório VII: Cirurgia Geral - Estágio de Campo<br>
          - Internato Obrigatório VII: Cirurgia Geral - Orientação<br>
          - Internato Obrigatório VIII: Ginecologia e Obstetrícia - Estágio de Campo<br>
          - Internato Obrigatório VIII: Ginecologia e Obstetrícia - Orientação<br>
        </p>
      </div>
    </div>
    
        
            <!-- Medicina Veterinária -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapseMedicinaVeterinaria" role="button" aria-expanded="false" aria-controls="collapseMedicinaVeterinaria">
                Medicina Veterinária
              </a>
            </h3>
            <div class="collapse" id="collapseMedicinaVeterinaria">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Anatomia Veterinária: Prof. André Lima<br>
                  - Fisiologia Animal: Profa. Fernanda Silva<br>
                  - Bioquímica: Prof. Carlos Oliveira<br>
                  - Microbiologia Veterinária: Profa. Ana Beatriz Costa<br>
                  - Introdução à Medicina Veterinária: Prof. Jorge Santos<br><br>
        
                  2° período<br>
                  - Patologia Veterinária: Prof. Luiz Almeida<br>
                  - Farmacologia Veterinária: Profa. Mariana Reis<br>
                  - Parasitologia Veterinária: Prof. Ricardo Santos<br>
                  - Imunologia Veterinária: Profa. Juliana Costa<br>
                  - Clínica Veterinária: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Cirurgia Veterinária: Rodrigo Lima<br>
                  - Clínica de Animais de Companhia: Profa. Camila Almeida<br>
                  - Medicina de Grandes Animais: Prof. Rafael Costa<br>
                  - Reabilitação Animal: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Medicina de Pequenos Animais: Prof. João Santos<br>
                  - Medicina de Animais Silvestres: Profa. Juliana Reis<br>
                  - Diagnóstico por Imagem: Prof. Bruno Almeida<br>
                  - Práticas Clínicas Veterinárias: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Gestão em Medicina Veterinária: Prof. Pedro Costa<br>
                  - Medicina de Animais Exóticos: Profa. Carla Reis<br>
                  - Medicina Preventiva: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
        
            <!-- Psicologia -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapsePsicologia" role="button" aria-expanded="false" aria-controls="collapsePsicologia">
                Psicologia
              </a>
            </h3>
            <div class="collapse" id="collapsePsicologia">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Introdução à Psicologia: Prof. André Santos<br>
                  - Psicologia do Desenvolvimento: Profa. Fernanda Almeida<br>
                  - Teorias Psicológicas: Prof. Carlos Lima<br>
                  - Psicologia Social: Profa. Ana Beatriz Costa<br>
                  - Métodos e Técnicas de Pesquisa: Prof. Jorge Oliveira<br><br>
        
                  2° período<br>
                  - Psicopatologia: Prof. Luiz Almeida<br>
                  - Psicologia Clínica: Profa. Mariana Reis<br>
                  - Psicometria: Prof. Ricardo Santos<br>
                  - Neuropsicologia: Profa. Juliana Costa<br>
                  - Psicologia da Saúde: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Psicologia Educacional: Prof. Danielle Lima<br>
                  - Psicologia Organizacional: Profa. Camila Almeida<br>
                  - Psicologia Comunitária: Prof. Rafael Costa<br>
                  - Práticas de Atendimento Psicológico: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Terapias Cognitivo-Comportamentais: Prof. João Santos<br>
                  - Psicologia do Trabalho: Profa. Juliana Reis<br>
                  - Psicologia Forense: Prof. Bruno Almeida<br>
                  - Práticas Clínicas Avançadas: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Psicologia Positiva: Prof. Pedro Costa<br>
                  - Psicologia do Esporte: Profa. Carla Reis<br>
                  - Psicoterapia: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
        
            <!-- Engenharia Civil -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapseEngenhariaCivil" role="button" aria-expanded="false" aria-controls="collapseEngenhariaCivil">
                Engenharia Civil
              </a>
            </h3>
            <div class="collapse" id="collapseEngenhariaCivil">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Matemática Aplicada à Engenharia: Prof. André Santos<br>
                  - Física Geral: Profa. Fernanda Almeida<br>
                  - Química Geral: Prof. Carlos Lima<br>
                  - Desenho Técnico: Profa. Ana Beatriz Costa<br>
                  - Introdução à Engenharia Civil: Prof. Jorge Oliveira<br><br>
        
                  2° período<br>
                  - Cálculo Diferencial e Integral: Prof. Luiz Almeida<br>
                  - Geologia e Geotécnica: Profa. Mariana Reis<br>
                  - Estruturas I: Prof. Ricardo Santos<br>
                  - Hidráulica: Profa. Juliana Costa<br>
                  - Materiais de Construção: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Estruturas II: Prof. Bruno Lima<br>
                  - Mecânica dos Solos: Profa. Camila Almeida<br>
                  - Geometria Descritiva: Prof. Rafael Costa<br>
                  - Transportes e Logística: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Hidrologia: Prof. João Santos<br>
                  - Engenharia de Segurança: Profa. Juliana Reis<br>
                  - Saneamento: Prof. Bruno Almeida<br>
                  - Práticas de Construção: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Projeto de Infraestrutura: Prof. Pedro Costa<br>
                  - Estruturas de Concreto: Profa. Carla Reis<br>
                  - Planejamento Urbano: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
        
            <!-- Engenharia Química -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapseEngenhariaQuimica" role="button" aria-expanded="false" aria-controls="collapseEngenhariaQuimica">
                Engenharia Química
              </a>
            </h3>
            <div class="collapse" id="collapseEngenhariaQuimica">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Química Geral: Prof. André Lima<br>
                  - Matemática para Engenharia: Profa. Fernanda Silva<br>
                  - Física Aplicada: Prof. Carlos Oliveira<br>
                  - Termodinâmica: Profa. Ana Beatriz Costa<br>
                  - Introdução à Engenharia Química: Prof. Jorge Santos<br><br>
        
                  2° período<br>
                  - Química Orgânica: Prof. Luiz Almeida<br>
                  - Cálculo Diferencial e Integral: Profa. Mariana Reis<br>
                  - Transferência de Calor: Prof. Ricardo Santos<br>
                  - Processos Químicos I: Profa. Juliana Costa<br>
                  - Análise Instrumental: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Processos Químicos II: Prof. José Lima<br>
                  - Reatores Químicos: Profa. Camila Almeida<br>
                  - Engenharia de Reações: Prof. Rafael Costa<br>
                  - Química Analítica: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Engenharia de Processos: Prof. João Santos<br>
                  - Segurança Química: Profa. Juliana Reis<br>
                  - Engenharia Ambiental: Prof. Bruno Almeida<br>
                  - Práticas de Engenharia Química: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Controle de Processos: Prof. Pedro Costa<br>
                  - Química Industrial: Profa. Carla Reis<br>
                  - Processos de Separação: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
        
            <!-- Engenharia Mecânica -->
            <h3>
              <a class="curso" data-bs-toggle="collapse" href="#collapseEngenhariaMecanica" role="button" aria-expanded="false" aria-controls="collapseEngenhariaMecanica">
                Engenharia Mecânica
              </a>
            </h3>
            <div class="collapse" id="collapseEngenhariaMecanica">
              <div class="card card-body">
                <p>
                  1° período<br>
                  - Matemática Aplicada: Prof. André Santos<br>
                  - Física Geral: Profa. Fernanda Almeida<br>
                  - Química Geral: Prof. Carlos Lima<br>
                  - Desenho Técnico: Profa. Ana Beatriz Costa<br>
                  - Introdução à Engenharia Mecânica: Prof. Jorge Oliveira<br><br>
        
                  2° período<br>
                  - Mecânica dos Fluidos: Prof. Luiz Almeida<br>
                  - Termodinâmica: Profa. Mariana Reis<br>
                  - Materiais de Engenharia: Prof. Ricardo Santos<br>
                  - Dinâmica: Profa. Juliana Costa<br>
                  - Processos de Fabricação: Prof. Gabriel Silva<br><br>
        
                  3° período<br>
                  - Transferência de Calor: Prof. Pedro Moreira<br>
                  - Engenharia de Controle: Profa. Camila Almeida<br>
                  - Sistemas Mecânicos: Prof. Rafael Costa<br>
                  - Projeto de Máquinas: Profa. Beatriz Oliveira<br>
                  - Estágio Supervisionado I: Prof. Lucas Martins<br><br>
        
                  4° período<br>
                  - Engenharia de Produção: Prof. João Santos<br>
                  - Automação: Profa. Juliana Reis<br>
                  - Projetos Mecânicos: Prof. Bruno Almeida<br>
                  - Práticas de Engenharia: Profa. Ana Paula Lima<br>
                  - Optativa I: Prof. Rodrigo Lima<br><br>
        
                  5° período<br>
                  - Manufatura Avançada: Prof. Pedro Costa<br>
                  - Engenharia de Manutenção: Profa. Carla Reis<br>
                  - Energia e Sustentabilidade: Prof. Felipe Almeida<br>
                  - Estágio Supervisionado II: Profa. Ana Beatriz Costa<br>
                  - Optativa II: Prof. Tiago Almeida<br>
                </p>
              </div>
            </div>
          </section>

          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</body>

</html>