<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>

  <style>
        .login-box {
      width: 300px;
      padding: 20px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-box .form-control {
      margin-bottom: 15px;
    }

    .login-box button {
      width: 100%;
    }
  </style>
</head>
<body>
<header>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de matrículas</a>
    </div>
  </nav>
</header>
  
<section class="login-box">
  <h2>Login</h2>
  <form method="POST" action="/api/login/auth">
    <div class="mb-3">
      <label for="userType" class="form-label">Tipo de Usuário</label>
      <select class="form-select" id="userType" name="tipo" required>
        <option value="" disabled selected>Selecione o tipo de usuário</option>
        <option value="aluno">Aluno</option>
        <option value="professor">Professor</option>
      </select>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="senha" placeholder="Senha">
    </div>
    
    <button type="submit" class="btn btn-primary" style="background-color: rgb(115, 115, 141); border-color: rgb(115, 115, 141);">Entrar</button>
  </form>
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
