<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }
ret

    .navbar {
      background-color: rgb(115, 115, 141);
    }

    .navbar-brand {
      color: white;
      font-size: 1.5rem;
    }

    .navbar-nav {
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }

    .navbar-nav .nav-item {
      margin-right: 20px;
    }

    .nav-link {
      color: white;
    }

    section {
      margin-top: 20px;
    }

    .disciplinas{
        background-color: #dce4e4;
    }
  </style>
</head>
<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Matrículas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/repo_sis_matriculas-main/src/views/Aluno/Curriculo.html">Currículos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/repo_sis_matriculas-main/src/views/Aluno/matricula.html">Se matricule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/repo_sis_matriculas-main/src/views/Aluno/financeiro.html">Financeiro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/repo_sis_matriculas-main/src/views/Aluno/Perfil.html">Meu perfil</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section id="user-info" class="container">
    <h2>Informações do Aluno</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input class="form-control" type="text" id="nome" value="Nome do Usuário" readonly disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="cpf" class="form-label">CPF:</label>
          <input class="form-control" type="text" id="cpf" value="000.000.000-00" readonly disabled>
        </div>
      </div>
    </div>

   

    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input class="form-control" type="text" id="email" value="email@exemplo.com">
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone:</label>
          <input class="form-control" type="text" id="telefone" value="(XX) XXXX-XXXX">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha:</label>
                    <input class="form-control" type="text" id="senha" value="Senha" >
                  </div>
         
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="matricula" class="form-label">Matrícula:</label>
                    <input class="form-control" type="text" id="matricula" value="Número da Matrícula" readonly disabled>
                  </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="periodo" class="form-label">Período:</label>
                    <input class="form-control" type="text" id="periodo" value="5º Período" readonly disabled>
                  </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-4">
          <label for="disciplinas" class="form-label">Disciplinas matriculadas:</label>
          <div class="form-control disciplinas" id="disciplinas" style="height: auto;" readonly disabled>
            Disciplina 1<br>
            Disciplina 2<br>
            Disciplina 3<br>
            Disciplina 4<br>
            Disciplina 5<br>
            Disciplina 6
          </div>
        </div>
      </div>
    </div> 

    <button type="button" class="btn"  style="background-color: rgb(115, 115, 141);border-color: rgb(115, 115, 141); color: white; width: 100%;" >Salvar alterações</button>

  </section>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
