<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head'); %>

   <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        color: #333;
    }
  
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        text-align: center;
        color: #007bff;
        font-weight: bold;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: rgb(115, 115, 141);
        color: #fff;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    .message {
        color: #ff0000;
        font-weight: bold;
        text-align: center;
    }
    .no-disciplina {
        text-align: center;
        font-style: italic;
    }
</style>

</head>


<body>
    <header>
        <%- include('partials/headerProf'); %>
      </header>


    <div class="container">
        <h1>Alunos da Disciplina: <%= nomeDisciplina %> </h1>

        <% if (alunos.length > 0) { %>
            <ul>
                <% alunos.forEach(aluno => { %>
                    <li><%= aluno.Aluno %></li>
                <% }) %>
            </ul>
        <% } else { %>
                <p class="no-disciplina">Nenhum aluno cadastrado para esta disciplina.</p>
            <% } %>
            </div>

</body>
</html>