<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Cursos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }


 

    .navbar {
      background-color: rgb(115, 115, 141);
    }

    .navbar-brand {
      color: white;
      font-size: 1.5rem;
    }

    .navbar-nav {
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }

    .navbar-nav .nav-item {
      margin-right: 20px;
    }

    .nav-link {
      color: white;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sistema de Matrículas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/src/views/Secretaria/GerenciarCursos.html">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/src/views/Secretaria/GerenciarDocente.html">Docente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/src/views/Secretaria/Cadastro.html">Cadastro</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/src/views/Secretaria/Outros.html">Datas</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>

 
  <section>
    <ul class="courses-list">
        <h4>Cursos-graduação:</h4>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Administração</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Biomedicina</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Direito</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Enfermagem</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Engenharia de Software</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Engenharia Civil</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Engenharia Química</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Engenharia Mecânica</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Fisioterapia</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Medicina</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Medicina Veterinária</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Psicologia</a></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Sistemas de Informação</a></li>
      </ul>
    </section>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Informações do Curso</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="periodo">Selecione o período:</label>
                  <select id="periodo" name="periodo" class="form-select" required>
                      <option value="">Selecione o período</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="periodo">Selecione a disciplina:</label>
                <select id="periodo" name="periodo" class="form-select" required>
                    <option value="">Selecione a disciplina</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="form-group">
                <label for="periodo">Selecione o professor:</label>
                <select id="periodo" name="periodo" class="form-select" required>
                    <option value="">Selecione o professor</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" style="background-color:  rgb(115, 115, 141); border-color:  rgb(115, 115, 141);"  class="btn btn-primary">Salvar mudanças</button>
          </div>
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
